/* Fonts Loader*/
@font-face {
  font-family: reg;
  src: url(/fonts/Product\ Sans\ Regular.woff2);
}

@font-face {
  font-family: bold;
  src: url(/fonts/Product\ Sans\ Bold.woff2);
}

@font-face {
  font-family: thin;
  src: url(/fonts/ProductSans-Thin.woff2);
}

/* Boiler Plate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Customize scrollbar track */
body::-webkit-scrollbar-track {
  background-color: transparent; /* Set to the desired background color */
}

/* Customize scrollbar handle */
body::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust handle color and transparency */
  border-radius: 3px; /* Adjust border radius to match the design */
}

/* Optionally, add hover and active styles */
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(35, 35, 35, 0.7); /* Adjust handle color on hover */
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 1); /* Adjust handle color on active state */
}

*::selection {
  color: #d91921;
  background-color: rgb(53, 53, 53);
}

/* For spans */
.inline-block {
  display: inline-block;
}

#main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

/* Page1 Start */

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
#page1 >img{
  position: absolute;
  top: -10%;
  width: 140%;
  left: 50%;
  transform: translate(-50%,0);
 
}

#page1 #overlay-p1{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 1.2vw 2vw;
  text-align: center;
}
#navbar{
  width: 100%;
  padding:1.6vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffffff1;
  font-family: reg;
  border-radius: .8vw;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.062);
}
#navbar img{
  width: 2vw;
}
#nav-p1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  text-transform: capitalize;
}
#nav-p1 h4{
  font-weight: 500;
}
#nav-p2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}
#nav-p2 h4{
  font-weight: 500;
}
#page1 #overlay-p1 h1{
  font-size: 5vw;
  font-family: reg;
  font-weight: 500;
  margin-top: 5vw;
  color: #fff;
}
#page1 #overlay-p1 h2{
  font-size: 5vw;
  font-family: reg;
  font-weight: 800;
}


#page1 #overlay-p1 p{
  color: #fff;
  font-family: reg;
  font-size: 1.5vw;
  width: 50%;
  margin: 2.2vw auto;
  font-weight: 100;
}
#page1 #overlay-p1 #home-btn{
  background: linear-gradient(to right , #0844FF,#4D86F9);
  width: fit-content;
  color: #fff;
  font-family: reg;
  padding: 1.3vw 4vw;
  border-radius: 50px;
  margin: 0 auto;
}

/* Page1 End */

/* Page2 Start */

#page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rebeccapurple;
}

/* Page2 End */

/* Page3 Start */

#page3 {
  position: relative;
  height: 200vh;
  width: 100%;
  font-family: reg;
}

#pg3-upper {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  padding: 3vw 2vw;
  gap: 6vw;
}

#pg3-lower {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  gap: 6vw;
  padding: 3vw 2vw;
  padding-top: 0vw;
}

#page3 .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page3 .txt #heading h1 {
  font-size: 2.5vw;
  font-weight: 500;
}

#page3 .txt #heading .color h1 {
  color: #3f78fb;
}

#page3 .txt #text h1 {
  font-size: 4vw;
  font-weight: 500;
}

#page3 .txt #text h5 {
  font-size: 1vw;
  font-weight: 600;
  color: #5f6368;
}


.pg3-img #image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.pg3-img #image #image-inner {
  width: 100%;
  height: 100%;
}

.pg3-img #image #image-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pg3-upper .pg3-sections,
#pg3-lower .pg3-sections {
  width: 50%;
  height: 100%;
}

/* Page3 End */

/* Page4 Start */

#page4 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Page4 End */

/* Page5 Start */

#page5 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Page5 End */

/* Page6 Start */

#page6 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Page6 End */

/* Page7 Start */

#page7 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Page7 End */

/* Page8 Start */

#page8 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Page8 End */

/* Responsive */

/* Responsive 1200px */
@media (min-width: 993px) and (max-width: 1200px) {
}

/* Responsive 992px */
@media (min-width: 769px) and (max-width: 992px) {
}

/* Responsive 768px */
@media (min-width: 601px) and (max-width: 768px) {
}

/* Responsive 600px */
@media (max-width: 600px) {
}
