/* Fonts Loader*/
@font-face {
  font-family: reg;
  src: url(/fonts/Product\ Sans\ Regular.woff2);
}

@font-face {
  font-family: bold;
  src: url(/fonts/Product\ Sans\ Bold.woff2);
}

@font-face {
  font-family: thin;
  src: url(/fonts/ProductSans-Thin.woff2);
}

/* Boiler Plate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Customize scrollbar track */
body::-webkit-scrollbar-track {
  background-color: transparent; /* Set to the desired background color */
}

/* Customize scrollbar handle */
body::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust handle color and transparency */
  border-radius: 3px; /* Adjust border radius to match the design */
}

/* Optionally, add hover and active styles */
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(35, 35, 35, 0.7); /* Adjust handle color on hover */
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 1); /* Adjust handle color on active state */
}

*::selection {
  color: #d91921;
  background-color: rgb(53, 53, 53);
}

/* For spans */
.inline-block {
  display: inline-block;
}

#main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

/* Page1 Start */

#page1 {
  position: relative;
  height: 85vh;
  width: 100%;
  background-color: #fff;
}
#page1 > img {
  position: absolute;
  top: 10%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: rotate;
  animation-duration: 5s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#page1 #overlay-p1 {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 1.2vw 2vw;
  text-align: center;
}
#navbar {
  width: 100%;
  padding: 1.6vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffffff1;
  font-family: reg;
  border-radius: 0.8vw;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.062);
}
#navbar img {
  width: 2vw;
}
#nav-p1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  text-transform: capitalize;
}
#nav-p1 h4 {
  font-weight: 500;
}
#nav-p2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}
#nav-p2 h4 {
  font-weight: 500;
}
#page1 #overlay-p1 h1 {
  font-size: 5vw;
  font-family: reg;
  font-weight: 500;
  margin-top: 5vw;
  color: #fff;
}
#page1 #overlay-p1 h2 {
  font-size: 5vw;
  font-family: reg;
  font-weight: 800;
}

#page1 #overlay-p1 p {
  color: #fff;
  font-family: reg;
  font-size: 1.5vw;
  width: 50%;
  margin: 2.2vw auto;
  font-weight: 100;
}
#page1 #overlay-p1 #home-btn {
  background: linear-gradient(to right, #0844ff, #4d86f9);
  width: fit-content;
  color: #fff;
  font-family: reg;
  padding: 1.3vw 4vw;
  border-radius: 50px;
  margin: 0 auto;
}

/* Page1 End */

/* Page2 Start */

#page2 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.page2-video {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2-video > video {
  position: relative;
  height: 100%;
  width: 75%;
  object-fit: cover;
}

/* Page2 End */

/* Page3 Start */

#page3 {
  position: relative;
  height: 200vh;
  width: 100%;
  font-family: reg;
  /* background-color: black; */
}
#page3 h1 {
  color: #fff;
}
#pg3-upper {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  padding: 3vw 2vw;
  gap: 6vw;
}

#pg3-lower {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  gap: 6vw;
  padding: 3vw 2vw;
  padding-top: 0vw;
}

#page3 .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page3 .txt #heading h1 {
  font-size: 2.5vw;
  font-weight: 500;
}

#page3 .txt #heading .color h1 {
  color: #3f78fb;
}

#page3 .txt #text h1 {
  font-size: 4vw;
  font-weight: 500;
}

#page3 .txt #text h5 {
  font-size: 1vw;
  font-weight: 600;
  color: #5f6368;
}

.pg3-img #image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.pg3-img #image #image-inner {
  width: 100%;
  height: 100%;
}

.pg3-img #image #image-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pg3-upper .pg3-sections,
#pg3-lower .pg3-sections {
  width: 50%;
  height: 100%;
}
#pg3-lower {
  position: relative;
  z-index: 2;
}

/* Page3 End */

/* Page4 Start */

#page4 {
  position: relative;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8vw;
  padding-bottom: 4vw;
}
#page4 #cir2 {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

#page4 h1 {
  color: #fff;
  font-family: reg;
  font-size: 5vw;
  font-weight: 500;
  position: relative;
  z-index: 2;
}
#page4 h1 span {
  background: linear-gradient(to right, #0844ff, #4d86f9);
  color: transparent;
  background-clip: text;
}
#canvas-card {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 65vw;
  background-color: black;
  padding-bottom: 4vw;
}
#canvas-card canvas {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 9;
}
#canvas-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#canvas-card #chat {
  position: absolute;
  width: 50%;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffffd2;
  display: flex;
  flex-direction: column;
  padding: 0 6.5vw;
  padding-top: 10vw;
}
#chat .message:nth-child(1) .wrap {
  background-color: #3a6af8;
}
#chat .message:nth-child(2),
#chat .message:nth-child(4),
#chat .message:nth-child(5) {
  display: flex;
  align-items: center;
  justify-content: end;
}
#chat .message {
  margin-bottom: 2.5vw;
}
#chat .message:nth-child(4) {
  margin-bottom: 1vw;
}
#chat .message .wrap {
  width: 55%;
  background-color: #242424;
  padding: 1.2vw 1.5vw;
  border-radius: 1.2vw;
}
#chat .message:nth-child(2),
#chat .message:nth-child(4) {
  align-items: start;
}
#chat .message:nth-child(5) .wrap {
  margin-right: 3.6vw;
}
#chat .message .profile {
  width: 3vw;
  height: 3vw;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0.6vw;
  margin-top: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#chat .message p {
  font-family: reg;
  font-size: 0.9vw;
  font-weight: 500;
}
#chat .message .wrap h5 {
  color: #0844ff;
  font-family: reg;
  font-weight: 500;
  margin-bottom: 0.3vw;
  font-size: 0.8vw;
}
/* Page4 End */

/* Page5 Start */

#page5 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Page5 End */

/* Page6 Start */

#page6 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.page6-contianer {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, #3c4ef3, #182ef3);
  /* mix-blend-mode: soft-light; */
}

.page6-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 0.8vw;
}

.page6-overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.page6-overlay-img > img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
  opacity: 0.5;
}

.page6-strip1 {
  position: relative;
  display: flex;
  overflow-x: hidden;
  margin-top: 4vw;
}

.page6-strip1 > h1 {
  margin-left: 1vw;
  font-size: 16vw;
  white-space: nowrap;
  color: #fff;
  list-style: none;
  font-weight: 500;
  animation: slide 25s linear infinite both;
  font-family: reg;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(calc(-100% - (1vw + 4px)));
  }
}

.page6-products {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 70vh;
  width: 50vw;
  background-color: #fff;
}

.page6-products-dets {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-family: reg;
  margin-top: 6vw;
  text-align: center;
}

.page6-products-dets > h1 {
  font-size: 3vw;
  font-weight: 500;
  line-height: 1;
}

.page6-products-dets > p {
  font-family: thin;
  font-weight: 100;
  font-size: 1.1vw;
  width: 60%;
  margin-top: 1vw;
}

.page6-btn {
  background: linear-gradient(to right, #0844ff, #4d86f9);
  width: fit-content;
  color: #fff;
  font-family: reg;
  padding: 1.3vw 4vw;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 2vw;
}

.page6-products > img {
  position: absolute;
  top: -50%;
  height: 100%;
  width: 100%;
  scale: 1.2;
  object-fit: contain;
  pointer-events: none;
}

.page6-products > .page6-product-img1 {
  scale: 0.8;
}

.page6-products > .page6-product-img2 {
  scale: 0.8;
  top: 120%;
  /* opacity: 0; */
}

.page6-products > .page1-product-img3 {
  top: 100%;
}

.page6-product-cursor {
  position: fixed;
  top: 0;
  left: 0;
  scale: 0;
  height: 10vh;
  width: 10vh;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page6-product-cursor > h3 {
  font-size: 0.8vw;
  font-weight: 500;
  font-family: reg;
  color: #fff;
}

.page6-webgl {
  position: absolute;
  height: 70vh;
  width: 50vw;
  top: 0;
  left: 0;
  border-radius: 1vw;
}

/* Page6 End */

/* Page7 Start */

#page7 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Page7 End */

/* Page8 Start */

#page8 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.container-canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  height: 100vh;
  width: 100%;
}

.webgl {
  opacity: 0;
}

/* Page8 End */

/* Responsive */

/* Responsive 1200px */
@media (min-width: 993px) and (max-width: 1200px) {
}

/* Responsive 992px */
@media (min-width: 769px) and (max-width: 992px) {
}

/* Responsive 768px */
@media (min-width: 601px) and (max-width: 768px) {
}

/* Responsive 600px */
@media (max-width: 600px) {
}
